<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="pds1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="pds1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
<connectionStrings>
  <add name="datapds1Entities2"  connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='data source=C:\Program Files\FNWifiLocator\datapds1.sdf'"
    providerName="System.Data.EntityClient" />
</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <applicationSettings>
    <pds1.Properties.Settings>
      <setting name="min_signal_value" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="delta_signal_value" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="min_perc_same_place" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="numer_of_try" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="delta_power_try" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="min_update_value" serializeAs="String">
        <value>10</value>
      </setting>
    </pds1.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <pds1.Properties.Settings>
      <setting name="Setting1" serializeAs="String">
        <value>d</value>
      </setting>
    </pds1.Properties.Settings>
  </userSettings>
</configuration>